body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.back_button {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: purple;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bottom-buttons {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
